# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.env/
.env.local
.venv/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/

# Docker
docker-compose.override.yml

# Testing
.pytest_cache/

# Misc
*.swp
*.swo